<table>
<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%= page.body %></td>
    <td><%= page.parent_id %></td>
    <td><%= page.position %></td>

    <td><%= page.menu_match %></td>
    <td><%= page.show_in_menu %></td>
    <td><%= page.deletable %></td>
    <td><%= link_to '详细', page %></td>
  </tr>
<% end %>
</table>

