<% if @page.present? && @page.path_name == 'net' %>
   <div id="flash">
    <%= play_flash("/assets/flash/map3.swf", :width => "578", :height =>"280") %>
  </div>
<% elsif @page.present? && @page.path_name == 'yetai'%>
  <div id="slider-wrapper">
      <div id="slider" class="nivoSlider">
          <a href="#" >
            <%=image_tag asset_path("lunbo_bar1.png"), :width=>"578px", :title =>"庆锋祥"%></a>
          <a href="#" >
            <%=image_tag asset_path("lunbo_bar2.png"), :width=>"578px", :title =>"庆锋祥"%></a>
          <a href="#" >
            <%=image_tag asset_path("lunbo_bar3.png"), :width=>"578px", :title =>"庆锋祥"%></a>
      </div>
  </div>
  <div class='slide_small_img'>
    <%=image_tag asset_path("bar1.png"), :width=>"188px"%>
    <%=image_tag asset_path("bar2.png"), :width=>"187px"%>
    <%=image_tag asset_path("bar3.png"), :width=>"187px"%>
  </div>
<% else %>
  <div id="slider-wrapper">
      <div id="slider" class="nivoSlider">
          <a href="/pages/jianjie" target="_blank">
            <%=image_tag asset_path("lunbo_1.png"), :width=>"578px", :title =>"庆锋祥"%></a>
          <a href="/pages/wenhua" target="_blank">
            <%=image_tag asset_path("lunbo_2.png"), :width=>"578px", :title =>"庆锋祥"%></a>
          <a href="/pages/rongyu" target="_blank">
            <%=image_tag asset_path("lunbo_3.png"), :width=>"578px", :title =>"庆锋祥"%></a>
          <a href="/contact" target="_blank">
            <%=image_tag asset_path("lunbo_4.png"), :width=>"578px", :title =>"庆锋祥"%></a>
      </div>
  </div>

<% end %>

